/* === Primary Navigation === */

.nav-container { 
  width:100%; 
  margin: 0 auto; 
  background: #ddd;

}


.navleft {
  display: inline-block;
  float: left;
  margin-bottom: 5%;
}


.navright {
  display: inline-block;
  float: right;
}
#stickynav-container { 
  width:100%; 
  background: #eee;
}

#stickynav { 
  width:100%; 
  background: white; 


}

#stickynav ul { 
  list-style:none; 
  margin:0; 
  padding: 5px; 
  margin: .5em 1em 0 1em; 
}

#stickynav ul li { 
  margin:0; 
  padding:0; 
  display:inline; 
}

#stickynav ul li a { 
  display:block; 
  float:left; 
  padding: .5em; 
  color: #8da7aa; 

  text-transform: uppercase;
  font-weight: 500;
    font-size: .75em;
}

#stickynav a:hover { 
  color: gray; 
}


.navleft li h5 {
  color: #8da7aa;
  margin: 0% 0 0 0;
  padding: 0;
  font-size: 1.5em;
}


nav{
  z-index: 1;
  word-spacing: 26px;
  transition: box-shadow 900ms;
}

.sticky{
  position: fixed;
  top: 0; left: 0;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}